.Stylebaner {
    height: 500px;
}

.fs-1 {
    height: 250px;
}

.logo {
    width: 200px;
    height: 100px;
}

.iconosfooter {
    width: 40px;
    height: 34px;
}

.cardstilo {width: 18rem !important }
.tamañoimagen{height: 14rem;}
.tamañode{height: 6rem;}


#tarjetaDetalle{width: 740px;
}
#carousel-control-nex {padding: 10px;}

